@import url(variaveis.css);

body {
    font-family: var(--fontePrincipal);
    /* background-color: blue; */
}

.titulo {
    font-family: var(--fonteTitulo);
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.subtitulo {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.texto-explicativo {
    font-size: 18px;
    line-height: 20px;
    margin: 0px 5px 10px 7px;
}

.ativo {
    border-bottom: solid 2px black;
}

.link {
    color: blue;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.logo-link {
    width: 5%;
}

.formulario__labels {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
}

.input {
    width: 20%;
    padding: 10px;
    margin-bottom: 30px;
    border: solid 3px black;
    border-radius: 5px;
}

.legendas {
    font-size: 30px;
    margin-top: 10px;
}

.radios {
    display: block;
    margin-bottom: 3px;
}

.invisivel {
    display: none;
}

@media only screen and (max-device-width: 700px) {
    .titulo {
        font-size: 50px;
        margin: 0px 5px;
    }

    .subtitulo {
        font-size: 35px;
        margin: 0px 5px;
    }

    .texto-explicativo {
        font-size: 40px;
        line-height: 40px;
    }

    .logo-link {
        width: 5%;
    }

    .formulario__labels {
        font-size: 60px;
        margin-bottom: 15px;
    }

    .input {
        width: 40%;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .legendas {
        font-size: 60px;
    }

    .radios {
        font-size: 30px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-device-width: 1200px) {

    .titulo {
        font-size: 50px;
    }

    .subtitulo {
        font-size: 25px;
    }
}