:root {
    --verde: #008D40;
    --pretoClaro: #383838;
    --cinzaClaro: #dbdbdb;

    --fontePrincipal: 'Open Sans', sans-serif;
    --introducaoTitulo: 'Road Rage', cursive;
    --fonteTitulo: 'M PLUS 1 Code', sans-serif;
}


